.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
@media (max-width: $breakpoint--sm) {
    .column {
        &--toRow {
            flex-direction: row;
            align-items: center;
            > div {
                flex: 1;
            }
        }
    }
}
