@use "../abstracts/variables";

.dragonParents {
    display: flex;
    flex-direction: column;
    width: 25%;
    &__eggs {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }
}

@media (max-width: variables.$breakpoint--sm) {
    .dragonParents {
        width: 50%;
    }
}
