.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        font-weight: 700;
        font-size: 2em;
    }
    &__list {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        row-gap: 0rem;
        list-style-type: none;
        z-index: 1;
        flex-wrap: wrap;
    }
}
@media (max-width: $breakpoint--sm) {
    .header {
        display: none;
        padding: 1.5rem 0.5rem;
        &__title {
            font-size: 1.5em;
        }
        &__list {
            gap: 0.5rem;
        }
    }
}
