.labelButton {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    z-index: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-shadow: inherit;
    letter-spacing: inherit;
    line-height: 100%;
    &__image {
        transform: translateY(10px);
        z-index: -1;
        width: auto;
        height: 60px;
    }
    &--small {
        font-size: 14px;
        max-width: 70px;
        .labelButton__image {
            height: 50px;
            width: auto;
        }
    }
}
@media (min-width: 370px) {
    .labelButton {
        &--small {
            .labelButton__image {
                height: 60px;
                width: auto;
            }
        }
    }
}
