.link {
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: rgb(191, 207, 232);
    &:hover {
        color: rgb(140, 154, 177);
    }
}
