@use '../../../styles/abstracts/mixins';

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    textarea {
        width: 100%;
        max-width: 100%;
        min-height: 200px;
        height: 200px;
        resize: none;
        color: black;
        background-color: transparent;
        border: 0;
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: inherit;
        font-family: inherit;
        &::placeholder {
            color: black;
            font-style: italic;
        }
    }
    button {
        width: 100%;
        max-width: 500px;
    }
}
.paper {
    width: 100%;
    max-width: 500px;
    height: 200px;
    @include mixins.paperBackground;
}
