@mixin borders($size) {
    position: relative;
    background-color: $color--card;
    border: $size solid $color--border-highlight;
    border-radius: calc($borderradius * 0.7);
    &::before {
        content: "";
        position: absolute;
        inset: calc($size * -1 + 1px);
        outline: $size solid $color--dark;
        border-radius: inherit;
        pointer-events: none;
    }
    &::after {
        content: "";
        position: absolute;
        inset: calc($size - 1px);
        outline: $size solid $color--light;
        border-radius: calc($borderradius * 0.5);
        pointer-events: none;
    }
}

@mixin paperBackground() {
    position: relative;
    background: rgb(220, 187, 136);
    background: radial-gradient(
        circle,
        rgb(220, 187, 136) 60%,
        rgb(177, 136, 75) 100%
    );
    &::before,
    &::after {
        content: "";
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        -webkit-clip-path: polygon(
            0% 0%,
            10% 100%,
            20% 0%,
            30% 100%,
            40% 0%,
            50% 100%,
            60% 0%,
            70% 100%,
            80% 0%,
            90% 100%,
            100% 0%
        );
    }
    &::before {
        background-color: #272926;
        top: 0;
    }
    &::after {
        background: rgb(220, 187, 136);
        background: radial-gradient(
            circle,
            rgb(220, 187, 136) 60%,
            rgb(177, 136, 75) 100%
        );
        bottom: -2px;
    }
}
