.gameoptions {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 1rem;
    row-gap: 0.5em;
    > li {
        min-width: calc(50% - 0.5rem);
        > button {
            width: 100%;
        }
    }
}
