@use "../abstracts/variables";

.farming {
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.25rem;
    }
    &__element {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__generator {
        display: flex;
        flex-direction: column;
        position: relative;
        &-wrapper {
            width: calc(50% - 0.125rem);
            max-width: 200px;
        }
        &-button {
            position: absolute;
            right: 0;
            bottom: 0;
            border: none;
            height: 100%;
            width: 20%;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            font-family: inherit;
            text-shadow: inherit;
            color: inherit;
            font-size: 2rem;
            cursor: pointer;
            display: grid;
            place-items: center;
            line-height: 0;
            touch-action: manipulation;
            &--left {
                left: 0;
                right: auto;
            }
        }
    }
    &__selector {
        background-color: transparent;
        font-family: inherit;
        color: inherit;
        text-shadow: inherit;
        padding: 0.5rem 1rem;
        font-size: 18px;
        text-align: center;
        border: none;
        width: 70%;
        &-wrapper {
            overflow: hidden;
        }
    }
    &__dragonElement {
        width: 20px;
    }
}

@media (max-width: variables.$breakpoint--sm) {
    .farming {
        padding-inline: 0.75rem !important;
        &__generator {
            &-button {
                width: 30%;
            }
        }
        &__selector {
            width: 80%;
        }
    }
}
