@use 'abstracts/colors';
@use 'abstracts/mixins';
@use 'abstracts/variables';

@use 'base/resets';
@use 'base/typography';

@use 'components/button';
@use 'components/card';
@use 'components/column';
@use 'components/dialog';
@use 'components/downloadImage';
@use 'components/dragonGrid';
@use 'components/dragonParents';
@use 'components/dragonPreview';
@use 'components/dropdown';
@use 'components/header';
@use 'components/labelButton';
@use 'components/labelInput';
@use 'components/link';
@use 'components/loadAnimation';
@use 'components/main';
@use 'components/row';
@use 'components/selector';
@use 'components/statistic';
@use 'components/table';
@use 'components/checkbox';

@use 'pages/dragonarium';
@use 'pages/farming';

.mobileNavigation {
    position: fixed;
    padding-bottom: 1rem;
    padding-inline: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(transparent 25%, rgba(0, 0, 0, 0.75) 75%);
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        white-space: pre-wrap;
        word-break: break-all;
    }
}
@media (min-width: variables.$breakpoint--sm) {
    .mobileNavigation {
        display: none;
    }
}

.game {
    border-radius: 0 !important;
    border: 6px solid #4b250b !important;
    box-shadow: 0 0 0 6px #633317, 0 0 0 8px #241005, inset 0 0 0 2px #241005;

    background: linear-gradient(
        to right,
        #45d0e1 10%,
        #2b86b0 10%,
        #2b86b0 20%,
        #45d0e1 20%,
        #45d0e1 30%,
        #2b86b0 30%,
        #2b86b0 40%,
        #45d0e1 40%,
        #45d0e1 50%,
        #2b86b0 50%,
        #2b86b0 60%,
        #45d0e1 60%,
        #45d0e1 70%,
        #2b86b0 70%,
        #2b86b0 80%,
        #45d0e1 80%,
        #45d0e1 90%,
        #2b86b0 90%,
        #2b86b0 100%,
        #45d0e1 100%
    );
    &:before {
        display: none !important;
    }
    &:after {
        display: none !important;
    }
}
.make_a_match_game {
    border: 6px solid #bfced0 !important;
    box-shadow: 0 0 0 6px #9eadaf;
    background-color: #dee6e7 !important;
    background-image: url('../../public/make-a-match/snow-background.png');
    background-size: cover;
    padding-top: 2rem !important;
    &:before {
        display: none !important;
    }
    &:after {
        display: none !important;
    }
}
