.row {
    display: flex;
    width: 100%;
    gap: 2rem;
}
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &Large {
        flex: 2;
    }
}

.paper {
    background: radial-gradient(circle, #dcbb88 60%, #b1884b 100%);
    padding: 1rem;
    position: relative;
    &:after,
    &:before {
        content: '';
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #272926;
        clip-path: polygon(
            0 0,
            10% 100%,
            20% 0,
            30% 100%,
            40% 0,
            50% 100%,
            60% 0,
            70% 100%,
            80% 0,
            90% 100%,
            100% 0
        );
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: -0.4;
        transform: rotate(180deg);
    }
}
@media (max-width: 600px) {
    .paper {
        padding: 1rem 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: repeating-linear-gradient(
            to right,
            transparent 0%,
            transparent calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% + 0.5px)
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0%,
            transparent calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% + 0.5px)
        );
}

.board {
    background: radial-gradient(circle, #b2b2b2 60%, #7f7f7f 100%);
    border: 1px solid black;
    outline: 4px solid #817f68;
    box-shadow: 0 0 0px 4.5px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 300px;
    overflow: auto;
    scrollbar-width: thin;
}
@media (max-width: 600px) {
    .board {
        flex-direction: row;
        height: auto;
    }
}

.goal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    &Text {
        width: 100%;
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #5f5f61;
    }
    &:not(:last-of-type) {
        padding-bottom: 1rem;
    }
}
@media (max-width: 600px) {
    .goal {
        &:not(:last-of-type) {
            padding-bottom: 0;
        }
    }
}

.infobar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.bankButton {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    text-shadow: inherit;
    cursor: pointer;
    padding: 0.25rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 0;
    border-radius: 0.8rem 0.8rem 0.4rem 0.4rem;
    background-color: #2e679a;
    text-decoration: none;
    box-shadow: inset 0 -6px #27468b, inset 4px 0 #27468b, inset -4px 0 #27468b,
        1px 1px #000, -1px -1px #000;
    &:disabled {
        font-weight: inherit;
        cursor: not-allowed;
        background-color: #878787;
        box-shadow: inset 0 -6px #5f5f61, inset 4px 0 #5f5f61,
            inset -4px 0 #5f5f61, 1px 1px #000, -1px -1px #000;
    }
}

.cell {
    outline-offset: -2px;
    position: relative;
    padding: 0.5rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    position: relative;
    &:has(> img) {
        &::after {
            content: '';
            position: absolute;
            bottom: 0.25rem;
            left: 1rem;
            right: 1rem;
            height: 0.75rem;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 80%;
            z-index: 0;
        }
    }
}
@media (max-width: 600px) {
    .cell {
        padding: 0rem;
        &:has(> img) {
            &::after {
                bottom: 0.1rem;
                left: 0.75rem;
                right: 0.75rem;
                height: 1rem;
            }
        }
    }
}
