.row {
    display: flex;
    width: 100%;
    gap: 2rem;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &Large {
        flex: 2;
    }
}

.paper {
    background: radial-gradient(circle, #dcbb88 60%, #b1884b 100%);
    padding: 1rem;
    position: relative;
    &:after,
    &:before {
        content: '';
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #272926;
        clip-path: polygon(
            0 0,
            10% 100%,
            20% 0,
            30% 100%,
            40% 0,
            50% 100%,
            60% 0,
            70% 100%,
            80% 0,
            90% 100%,
            100% 0
        );
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: -0.4;
        transform: rotate(180deg);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: repeating-linear-gradient(
            to right,
            transparent 0%,
            transparent calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% + 0.5px)
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0%,
            transparent calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% - 0.5px),
            rgba(0, 0, 0, 0.2) calc(25% + 0.5px)
        );
}

.board {
    background: radial-gradient(circle, #b2b2b2 60%, #7f7f7f 100%);
    border: 1px solid black;
    outline: 4px solid #817f68;
    box-shadow: 0 0 0px 4.5px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.infobar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.bankButton {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    text-shadow: inherit;
    cursor: pointer;
    padding: 0.25rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 0;
    border-radius: 0.8rem 0.8rem 0.4rem 0.4rem;
    background-color: #2e679a;
    text-decoration: none;
    box-shadow: inset 0 -6px #27468b, inset 4px 0 #27468b, inset -4px 0 #27468b,
        1px 1px #000, -1px -1px #000;
    &:disabled {
        font-weight: inherit;
        cursor: not-allowed;
        background-color: #878787;
        box-shadow: inset 0 -6px #5f5f61, inset 4px 0 #5f5f61,
            inset -4px 0 #5f5f61, 1px 1px #000, -1px -1px #000;
    }
}
