@use '../../styles/abstracts' as *;

.banner {
    & {
        z-index: 1;
        background-color: $color--card;
        border-bottom: 3px solid $color--border-highlight;
        width: 100%;
        padding: 3px 2.5%;
        gap: 2.5%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 3px;
        background-color: $color--dark;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: $color--light;
    }
}
.button {
    background-color: transparent;
    border: none;
}
@media (min-width: $breakpoint--sm) {
    .banner {
        display: none;
    }
}
