.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0px;
}
.square {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    touch-action: manipulation;
}
@media (min-width: 600px) {
    .square {
        height: 150px;
    }
}
.eggImage {
    max-width: 50px;
    width: 50%;
    height: auto;
    animation: revealEggAnimation 1000ms ease-in-out forwards;
}
@keyframes revealEggAnimation {
    0% {
        opacity: 0;
        transform: scale(0.75) translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-10px);
    }
}
.dragonImage {
    width: 100%;
    max-height: 90%;
    object-fit: contain;
    height: auto;
    animation: revealDragonAnimation 1000ms ease-in-out forwards;
}
@keyframes revealDragonAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.75) rotate(-45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) scale(1) rotate(0deg);
    }
}

.sandPatch {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 100%;
    height: auto;
}
@media (min-width: 600px) {
    .sandPatch {
        width: 75%;
    }
}
