.paper {
    background: radial-gradient(circle, #dcbb88 60%, #b1884b 100%);
    padding: 1rem;
    position: relative;
    &:after,
    &:before {
        content: '';
        height: 7px;
        position: absolute;
        left: -1px;
        right: -1px;
        background-color: #272926;
        clip-path: polygon(
            0 0,
            10% 100%,
            20% 0,
            30% 100%,
            40% 0,
            50% 100%,
            60% 0,
            70% 100%,
            80% 0,
            90% 100%,
            100% 0
        );
    }
    &:before {
        top: -0.5px;
    }
    &:after {
        bottom: -0.5px;
        transform: rotate(180deg);
    }
}
@media (max-width: 600px) {
    .paper {
        padding: 1rem 0;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0px;
}
.square {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 600px) {
    .square {
        height: 150px;
    }
}
.eggImage {
    max-width: 50px;
    width: 50%;
    height: auto;
    animation: revealEggAnimation 1000ms ease-in-out forwards;
}
@keyframes revealEggAnimation {
    0% {
        opacity: 0;
        transform: scale(0.75) translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-10px);
    }
}
.dragonImage {
    width: 100%;
    height: auto;
    animation: revealDragonAnimation 1000ms ease-in-out forwards;
}
@keyframes revealDragonAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.75) rotate(-45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) scale(1) rotate(0deg);
    }
}

.snowPatch {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 100%;
    height: auto;
}
@media (min-width: 600px) {
    .snowPatch {
        width: 75%;
    }
}

.friendId {
    width: 100%;
    background-color: transparent;
    padding-block: 0.5rem;
    color: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-size: 16px;
    border: none;
    text-align: center;
}
.startButton {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    text-shadow: inherit;
    cursor: pointer;
    padding: 0.25rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 0;
    border-radius: 0.8rem 0.8rem 0.4rem 0.4rem;
    background-color: #36dc23;
    text-decoration: none;
    box-shadow: inset 0 -3px #2bb01c, inset 2px 0 #2bb01c, inset -2px 0 #2bb01c,
        1px 1px #000, -1px -1px #000;
    &:disabled {
        font-weight: inherit;
        cursor: not-allowed;
        background-color: #878787;
        box-shadow: inset 0 -3px #5f5f61, inset 2px 0 #5f5f61,
            inset -2px 0 #5f5f61, 1px 1px #000, -1px -1px #000;
    }
}
